
@media screen and (min-width: 48rem) {
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .navBtn {
        display: none;
    }

    .navigation {
        display: inline;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .curEvents {
        grid-column: 1/2;
    }

    .compSpot {
        grid-column: 2/3;
    }
}