
@media screen and (min-width: 48rem) {
    .navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #415541;
        text-align: left;
    }

    .navBtn {
        display: none;
    }

    .navigation {
        display: inline;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }

    .sideNav {
        columns: 1/2;
    }

    .sideNav p {
        font-size: 12px;
    }

    .box-shadow-1, .box-shadow-2, .box-shadow-3, .box-shadow-4, .box-shadow-5, .box-shadow-6 {
        margin: .5rem;
    }

    .box-shadow-1:hover, .box-shadow-2:hover, .box-shadow-3:hover, .box-shadow-4:hover, .box-shadow-5:hover, .box-shadow-6:hover {
        box-shadow: 0 0 50px #333;
    }

    .curEvents {
        grid-column: 1/2;
    }

    .compSpot {
        grid-column: 2/3;
    }
}