
header#darkBtn {
    position: relative;
}

#darkBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

body {
    color: #303030;
}

nav {
    background-color: #415541;
}

.navigation {
    list-style: none;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: .5rem;
    list-style: none;
} 

nav a.hover {
    background-color: rgba(255,255,255,0.2);
}

nav .active {
    background-color: rgba(0,0,0,0.3);
}

#hamButton::before {
    content: "\2630";
}

#hamButton.open::before {
    content: 'X';
}

#hamButton {
    font-size: 2rem;
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
}

#navMain {
    display: none;
}

#navMain.open {
    display: block;
}

#navMain.dark {
    background-color: black;
}

#navMain.dark h1 {
    color: white;
}

.card {
    margin: 1rem 2vw;
}

.card h2 {
    border: 1px solid #415541;
    background-color: #e9f5e9;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    text-align: center;
}

.card ul, h3 {
    border: 1px solid #415541;
    background-color: lightgreen;
    color: black;
    display: block;
    overflow: hidden;
    text-align: center;
    padding: .75rem 0;
    border-radius: 10px;
}