
:root {
    background-color: aqua;
    margin: 1rem;
    text-align: left;
    font-size: 50px;
}

label {
    display: block;
    font-weight: 700;
    padding: .5rem 0 .5rem .5rem;
}

input {
    display: block;
    font-size: 50px;
}

input[type=range] {
    margin: 1rem;
    padding: .5rem;
}

#range {
    width: 500px;
    margin-bottom: 0;
}

#rangevalue {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

#rangevalues {
    display: flex;
    margin: 0 0 0 25px;
    width: 50px;
}

#rangevalues option {
    flex: 1 1 auto;
    font-size: .5rem;
}