@media screen and (min-width: 48rem) {
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .hamButton {
        display: none;
    }

    .navMain {
        display: inline;
    }

    .hero {
        position: relative;
    }
    
    .hero img {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .hero span {
        position: absolute;
        top: 20%;
        left: 10%;
        width: auto;
        background-color: rgba(255,255,255,0.5);
        padding: 1rem;
        font-size: 25px;
        text-align: center;
    }

    /* .hero-span {
        top: 50%;
        left: 10%;
        font-size: 25px;
    } */

    .card {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 1rem;
    }

    .card a {
        text-decoration: none;
    }
}