@media screen and (min-width: 48rem) {
    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .hamButton {
        display: none;
    }

    .navMain {
        display: inline;
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1rem;
    }

    .card a {
        text-decoration: none;
    }
}